	body{
		text-align:center;
		background-color:009a9c;
	}
	p{
		color:white;
		}
	h1{
		color:white;
		}
	a{
		color:white;
		}
	ul{
		color:white;
	}
	html {
		height: 100%;
}

/* animated button */
	.button {
		padding: 15px 25px;
		font-size: 24px;
		text-align: center;
		cursor: pointer;
		outline: none;
		color: #fff;
		background-color: #009a9c;
		border: none;
		border-radius: 15px;
		box-shadow: 0 9px #999;
}

	.button:hover{
		background-color: #3e8e41
}

	.button:active {
		background-color: #3e8e41;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
}
