<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/mainpg.css')}}">

 
</head>	

<body>

<div class="box0">
<a href="/ppm2/"><p><font size="-1">PPM</font></p></a>
<p>Average: {{ppm}}</p>
	<p>Total: {{w}}</p>
</div>

<div class="box1">
<a href="/pro2/"><p><font size="-1">Productivity</font></p></a>
<p>{{pro}}%</p>
	<p>{{x}}</p>
</div>

<div class="box2">
<a href="/tt2/"><p><font size="-1">Total Throughput</font></p></a>
<p>Good: {{tt}}</p>
	<p>Failed: {{y}}</p>
</div>

<div class="box3">
<a href="/dt2/"><p><font size="-1">Downtime</font></p></a>
<p>{{dt}}%</p>
	<p>{{z}}</p>
</div>
	<div class="header">
		<div class="side-nav">
			<a href='/' class="logo">
				<img src="{{ url_for('static',filename='img/mart.PNG')}}" class="logo-img">
			</a>
			<ul class="nav-links">
				<li><a href="/Main2/"><p>Dashboard</p></a></li>
				<li><a href="/ppm2/"><p>PPM</p></a></li>
				<li><a href="/pro2/"><p>Productivity</p></a></li>
				<li><a href="/tt2/"><p>Total Throughput</p></a></li>
				<li><a href="/dt2/"><p>Downtime</p></a></li>
				<div class="active"></div>
				</ul>
		</div>
	
	<div class="container">
		<button type="button" class="btn" onclick=window.location.href="/Main2/">Floor 2</button>
	</div>
	
	<script>
	let popup = document.getElementById("popup");
	
	function openPopup(){
		popup.classList.add("open-popup");
	}
	function closePopup(){
		popup.classList.remove("open-popup");
	}
</script>

<div class="container2">
		<button type="button" class="btn2" onclick="openPopup2()">Different Areas</button>
			<div class="popup2" id="popup2">
					<h2> Select Area</h2>
		<button type="button" onclick="window.location.href='/Main/';">Floor 1</button>
		<button type="button" onclick="window.location.href='/Main2/';">Floor 2</button>
		<button type="button" onclick="window.location.href='/Main3/';">All Floors</button>
		<button type="button" onclick="closePopup2()">OK</button>
	</div>
	</div>
	
	<script>
	let popup2 = document.getElementById("popup2");
	
	function openPopup2(){
		popup2.classList.add("open-popup2");
	}
	function closePopup2(){
		popup2.classList.remove("open-popup2");
	}
</script>
<div>
	<ul class="nav-links">
				<li><a href="Mainpage.html"><p>Dashboard</p></a></li>
				<li><a href="/ppm/"><p>PPM</p></a></li>
				<li><a href="/pro/"><p>Productivity</p></a></li>
				<li><a href="/tt/"><p>Total Throughput</p></a></li>
				<li><a href="/dt/"><p>Downtime</p></a></li>
				<div class="active"></div>
				</ul>

</div>

</body>
</html>	
		
		