	body{
		text-align:center; 
		background-color:009a9c;
		margin: 0;
		padding: 0;
		
		}
	p{
		color:009a9c;
	}
	h1{
		color:009a9c ;
		margin: 0;
	}
	a{
		color:white;
	}
	ul{
		color:white;
	}
	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
		font-family: Poppins, sans-serif;
	}
	
	.graph{
		position: fixed;
		top:20%;
		left: 30%;
	}
	 
	/*nav bar */
	.header{
		width:  100%;
		height: 100%;
	}
	.side-nav{
		width: 250px;
		height: 100%;
		background:#e2e9f7;
		position: fixed;
		top: 0;
		left: 0;
		padding: 20px 30px;
	}
	.logo{
		display: block;
		margin-bottom:130px;
	}
	.logo-img{
		width: 150px;
	}
	.nav-links{
		list-style:none;
		position: relative;
	}
	.nav-links li{
		padding: 10px 0;
	}
	.nav-links li a{
		color: #fff;
		text-decoration: none;
		padding: 10px 14px;
	}
	
	/* Hover/Select indicator */
	.active{
		background: #fff;
		width:100%;
		height: 47px;
		position: absolute;
		left:0;
		top:2.6%;
		z-index: -1;
		border-radius: 6px;
		box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
		display:none;
		transition: top 0.5s;
	}
	.nav-links li:hover a{
		color:#0d74f5;
		transition: 0.3s;
	}
	.nav-links li:hover ~ .active{
		display:block;
	}
	.nav-links li:nth-child(1):hover ~.active{
		top:2.6%;
	}
	.nav-links li:nth-child(2):hover ~.active{
		top:22.6%;
	}
	.nav-links li:nth-child(3):hover ~.active{
		top:42.6%;
	}
	.nav-links li:nth-child(4):hover ~.active{
		top:62.6%;
	}
	.nav-links li:nth-child(5):hover ~.active{
		top:82.6%;
	}
	
	/* Popup for raw data */
	.container{
		width:100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
	.btn{
		padding: 15px 25px;
		font-size: 24px;
		text-align: center;
		cursor: pointer;
		outline: none;
		color: #009a9c;
		background-color: #e2e9f7;
		border: none;
		border-radius: 15px;
		box-shadow: 0 9px #999;
		position:absolute;
		top:20px;
}
	.btn:hover{
		background-color: #e2e9f7
}
	.btn:active {
		background-color: #6fd649;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
}
	.popup{
		width: 900px;
		background: #e2e9f7;
		border-radius: 6px;
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.1);
		padding: 0 30px 30px;
		color: #333;
		visibility: hidden;
		transition: transform 0.4s, top 0.4s;
	}
	.open-popup{
		visibility: visible;
		top:50%;
		transform: translate(-50%, -50%) scale(1);
	}

	.popup img{
		width: 800px;
		height: 500px;
	
	}
	.popup h2{
		font-size: 38px;
		font-weight: 500;
		margin: 30px 0 10px;
	}
	.popup button{
		width: 100%;
		margin-top: 50px; 
		padding: 10px 0;
		background:#6fd649;
		color: #fff;
		border:0;
		outline: none;
		font-size: 18px;
		border-radius: 4px;
		cursor: pointer;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	}
		
/* Popup for different areas */
	.container2{
		width:100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
	.popup2{
		width: 900px;
		background: #e2e9f7;
		border-radius: 6px;
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.1);
		padding: 0 30px 30px;
		color: #333;
		visibility: hidden;
		transition: transform 0.4s, top 0.4s;
	}
	.open-popup2{
		visibility: visible;
		top:50%;
		transform: translate(-50%, -50%) scale(1);
	}
	.popup2 h2{
		font-size: 38px;
		font-weight: 500;
		margin: 30px 0 10px;
	}
	.popup2 button{
		width: 100%;
		margin-top: 0px; 
		padding: 10px 0;
		background:#6fd649;
		color: #fff;
		border:0;
		outline: none;
		font-size: 18px;
		border-radius: 4px;
		cursor: pointer;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	}
		.btn2{
		padding: 15px 25px;
		font-size: 24px;
		text-align: center;
		cursor: pointer;
		outline: none;
		color: #009a9c;
		background-color: #e2e9f7;
		border: none;
		border-radius: 15px;
		box-shadow: 0 9px #999;
		position:absolute;
		top:20px;
		right: 80px;
}
	.btn2:hover{
		background-color: #e2e9f7
}
	.btn2:active {
		background-color: #6fd649;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
}

		